.page{
    min-height: 100vh;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 80px;
}
.page h1{
    font-size: 160px;
    margin-bottom: 50px;
}