.cardContainer {
    border: 1px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 5px 10px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.leftSide {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.rightSide {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}
.rightSide button {
    width: 30px;
    cursor: pointer;
}
.rightSide input{
    width: 25px;
    text-align: center;
}