ul {
    list-style: none;
    padding: 0 20px;
}

li:first-child {
    border-radius: 10px 10px 0 0;
}

li:last-child {
    border-radius: 0 0 10px 10px;
}

li {
    /* background: rgb(25, 28, 26); */
    background: rgb(28, 31, 29);
    padding: 10px 20px;
    border-bottom: 2px solid rgb(58, 58, 58);
    padding-bottom: 40px;
    box-shadow: 0 0 10px rgb(28, 31, 29);
}

li h2 {
    letter-spacing: 1px;
    background: rgb(38, 44, 40);
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}
