body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: #c6c6c6;
    font-family: sans-serif;
}

body > div{
    background-color: rgb(173, 173, 173);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
}