.container{
    margin: 10px;
    background: #ececec ;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 4px rgb(189, 189, 189);
    padding: 5px;
}

.container img{
    width: 300px;
}

.container h3{
    color: #696969;
    margin: 30px 26px 20px;
}

.container p{
    margin: 0 25px 20px;
    background: rgb(10, 145, 46);
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    color: white;
}